<style type="text/css">
	body{
		font-family: 'Varela Round', sans-serif;
	}
	.form-control {
		box-shadow: none;		
		font-weight: normal;
		font-size: 13px;
	}
	.form-control:focus {
		border-color: #33cabb;
		box-shadow: 0 0 8px rgba(0,0,0,0.1);
	}
	.navbar-header.col {
		padding: 0 !important;
	}	
	.navbar {
		background: #fff;
		padding-left: 16px;
		padding-right: 16px;
		border-bottom: 1px solid #dfe3e8;
		border-radius: 0;
	}
	.nav-link img {
		border-radius: 50%;
		width: 36px;
		height: 36px;
		margin: -8px 0;
		float: left;
		margin-right: 10px;
	}
	.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
		padding-left: 0;
		font-size: 20px;
		padding-right: 50px;
	}
	.navbar .navbar-brand b {
		font-weight: bold;
		color: #33cabb;		
	}
	.navbar .form-inline {
        display: inline-block;
    }
	.navbar .nav li {
		position: relative;
	}
	.navbar .nav li a {
		color: #888;
	}
	.search-box {
        position: relative;
    }	
    .search-box input {
        padding-right: 35px;
		border-color: #dfe3e8;
        border-radius: 4px !important;
		box-shadow: none
    }
	.search-box .input-group-addon {
        min-width: 35px;
        border: none;
        background: transparent;
        position: absolute;
        right: 0;
        z-index: 9;
        padding: 7px;
		height: 100%;
    }
    .search-box i {
        color: #a0a5b1;
		font-size: 19px;
    }
	.navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
		color: #fff;
		background: #33cabb;
		padding-top: 8px;
		padding-bottom: 6px;
		vertical-align: middle;
		border: none;
	}	
	.navbar .nav .btn-primary:hover, .navbar .nav .btn-primary:focus {		
		color: #fff;
		outline: none;
		background: #31bfb1;
	}
	.navbar .navbar-right li:first-child a {
		padding-right: 30px;
	}
	.navbar .nav-item i {
		font-size: 18px;
	}
	.navbar .dropdown-item i {
		font-size: 16px;
		min-width: 22px;
	}
	.navbar ul.nav li.active a, .navbar ul.nav li.open > a {
		background: transparent !important;
	}	

	.navbar .nav li a:hover {
    	color: rgba(0,0,0,.6);
    	font-size: 16px;
    	transition: .4s;
    	
	}


	.navbar .nav .get-started-btn {
		min-width: 120px;
		margin-top: 8px;
		margin-bottom: 8px;
	}
	.navbar ul.nav li.open > a.get-started-btn {
		color: #fff;
		background: #31bfb1 !important;
	}
	.navbar .dropdown-menu {
		border-radius: 1px;
		border-color: #e5e5e5;
		box-shadow: 0 2px 8px rgba(0,0,0,.05);
	}
	.navbar .nav .dropdown-menu li {
		color: #999;
		font-weight: normal;
	}
	.navbar .nav .dropdown-menu li a, .navbar .nav .dropdown-menu li a:hover, .navbar .nav .dropdown-menu li a:focus {
		padding: 8px 20px;
		line-height: normal;
	}
	.navbar .navbar-form {
		border: none;
	}
	.navbar .dropdown-menu.form-wrapper {
		width: 280px;
		padding: 20px;
		left: auto;
		right: 0;
        font-size: 14px;
	}
	.navbar .dropdown-menu.form-wrapper a {		
		color: #33cabb;
		padding: 0 !important;
	}
	.navbar .dropdown-menu.form-wrapper a:hover{
		text-decoration: underline;
	}
	.navbar .form-wrapper .hint-text {
		text-align: center;
		margin-bottom: 15px;
		font-size: 13px;
	}
	.navbar .form-wrapper .social-btn .btn, .navbar .form-wrapper .social-btn .btn:hover {
		color: #fff;
        margin: 0;
		padding: 0 !important;
		font-size: 13px;
		border: none;
		transition: all 0.4s;
		text-align: center;
		line-height: 34px;
		width: 47%;
		text-decoration: none;
    }	
	.navbar .social-btn .btn-primary {
		background: #507cc0;
	}
	.navbar .social-btn .btn-primary:hover {
		background: #4676bd;
	}
	.navbar .social-btn .btn-info {
		background: #64ccf1;
	}
	.navbar .social-btn .btn-info:hover {
		background: #4ec7ef;
	}
	.navbar .social-btn .btn i {
		margin-right: 5px;
		font-size: 16px;
		position: relative;
		top: 2px;
	}
	.navbar .form-wrapper .form-footer {
		text-align: center;
		padding-top: 10px;
		font-size: 13px;
	}
	.navbar .form-wrapper .form-footer a:hover{
		text-decoration: underline;
	}
	.navbar .form-wrapper .checkbox-inline input {
		margin-top: 3px;
	}
	.or-seperator {
        margin-top: 32px;
		text-align: center;
		border-top: 1px solid #e0e0e0;
    }
    .or-seperator b {
		color: #666;
        padding: 0 8px;
		width: 30px;
		height: 30px;
		font-size: 13px;
		text-align: center;
		line-height: 26px;
		background: #fff;
		display: inline-block;
		border: 1px solid #e0e0e0;
		border-radius: 50%;
		position: relative;
		top: -15px;
		z-index: 1;
    }
    .navbar .checkbox-inline {
		font-size: 13px;
	}
	.navbar .navbar-right .dropdown-toggle::after {
		display: none;
	}

	.box{

	}

	.box:hover i{
    	color: green;
    	opacity: .5;
    	transition: .6s;
    	padding: 0px 0px 0px 30px;
	}
	.box i{
		text-align: center;
		width: 80%;
		font-size: 60px;
		color: #33cabb;
	}
	.box p{
		text-align: justify;
		font-size: 17px;
	}

	.post_section{
		margin-top: -20px;
	}
	.post_section h2{
		padding: 4px;
		margin: 0px;
		background: linear-gradient(to bottom, #d4c5cd24 0%, #d2e0e4 100%);

	}

	.list-group-item {
		font-size: 17px;
	    position: relative;
	    display: block;
	    padding: 10px 10px;
	    margin-bottom: -1px;
	    background-color: #fff;
	    border: 1px solid #ddd;
	}

	.list-group-item:hover {
		font-size: 17px;
	    transition: .7s;
	    background: linear-gradient(to bottom, #00ffff 0%, #99ffcc 60%);
	}

	.blog{
		margin-top: 4px;
		margin: 5px;
	}
	.blog .blog_heading{
		
		padding: 10px 20px;
		overflow: hidden;
		background:  linear-gradient(to bottom, #d4c5cd24 0%, #d2e0e4 100%);
	}
	.blog h2{
		margin: 0px;
		padding: 0px;
		padding: 0px 20px;
	}
	.blog img{
		margin: 0px;
		height: 200px;
		width: 100%;
		padding: 0px 0px 23px 8px;
	}

	.blog article{
		margin: 0px;
	    padding: 0px 4px;
	    line-height: 29px;
	    font-size: 16px;
	}

	.blog h2{
		margin: 0px;
		padding: 0px;
	}

	.page {
		margin: 0px;
	}
	.page h1{
		margin: 0px;
		padding: 10px;
	}
	.page img{
		width: 406px;
    	height: 310px;
	}
	.page p{
		line-height: 30px;
    	font-size: 18px;
	}

	.posts {
		margin: 0px;
	}
	.posts h2, .posts h1{
		margin: 0px;
		padding: 10px;
	}
	.posts img{
		width: 406px;
    	height: 310px;
	}
	.posts p{
		line-height: 30px;
    	font-size: 18px;
	}

	

	footer{
		margin: 0px;
		padding: 0px;
		min-height: 100px;
		/*margin-top: 30px;*/
		background-color: #c5adad;
		text-align: center;
	}
	footer h2,footer h3{
		margin: 0px;
		/*padding: 0px 10px;*/

	}

	footer h3{
		padding: 10px 10px;
	}
	footer p{
		margin: 0px;
		padding: 0px 10px;
	}

	footer a{
		    text-decoration: none;
    font-size: 16px;
    padding: 0px 17px;
    color: #fff;
	}

	footer ul{
		padding: 0px 10px;
	}


	@media (min-width: 1200px){
		.form-inline .input-group {
			width: 300px;
			margin-left: 30px;
		}
	}
	@media (max-width: 768px){
		.navbar .dropdown-menu.form-wrapper {
			width: 100%;
			padding: 10px 15px;
			background: transparent;
			border: none;
		}
		.navbar .form-inline {
			display: block;
		}
		.navbar .input-group {
			width: 100%;
		}
		.navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
			display: block;
		}
	}
</style>