@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0
}

body {
    line-height: 26px;
    background: #fff;
    font-size: 16px;
    font-weight: 300;
}

#navbar {
    background: #647FAF;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-brand {
    color: #fff;
    font-size: 20px;
    font-weight: 700
}

.navbar-brand:hover {
    color: #666
}

.navbar-brand img {
    height: 40px;
    padding-left: 30px;
}

nav a {
    color: #fff;
    font-size: 18px
}

nav a:hover {
    text-decoration: underline;
    color: #666
}

.navbar-toggler {
    color: #fff;
    background: #fff
}

form .search-form {
    border: none;
    outline: 0;
    border-radius: 0
}

.search-btn {
    color: #fff
}


#below-nav {
    position: fixed;
    width: 100%;
    margin-bottom: 33px;
    display: block;
    z-index: 1;

}

#below-nav .navigation-item {
    padding: 3px 0;
    background: #5c4b75
}

#below-nav .navigation-item a {
    padding: 4px 12px;
    color: #fff;
    font-size: 17px
}

#wrapper {
    font-family: Lato, sans-serif;
    padding: 5px 10px;
    margin-top: 35px;
}

#wrapper .left .quick-start-head {
    font-size: 20px;
    font-weight: 200;
    margin: 0;
    background: #647FAF;
    padding: 2px 4px;
    color: #fff
}

#wrapper .left a {
    color: #666;
    padding: 0;
    margin: 0
}

#wrapper .right {
    width: 100%
}

#wrapper .right .login-form {
    max-width: 80%;
    margin: 0 auto
}

#wrapper .right .block {
    display: inline-block;
    width: 32%;
    float: left;
    font-size: 50px;
    padding: 10px 0;
    color: #70a482;
    text-align: center
}

#wrapper .right .block p {
    font-size: 17px
}

#wrapper .right .next-btn,
#wrapper .right .previous-btn {
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    background: linear-gradient(to right, #a28f8f, #42b375);
    padding: 0 0;
    margin: 0;
    display: block;
    text-align: center;
    border-radius: 2px 2px 2px 2px
}

#wrapper .right article {
    padding: 10px
}

#wrapper .right img {
    padding: 10px
}

.latest-blog .last_article_headline {
    background: linear-gradient(to right, #a28f8f, #42b375);
    color: #fff;
    padding: 2px 10px
}

.latest-blog img {
    width: 100%;
    height: 180px;
    margin: 0
}

.latest-blog img:hover {
    opacity: .7;
    transition: .6s;
    cursor: pointer
}

.blog-thumb {
    width: 100%;
    height: 200px;
    padding: 10px
}

.blog-thumb:hover {
    opacity: .7;
    transition: .7s;
    cursor: pointer
}

.blog-thumb p {
    padding: 10px 5px
}


#social-link {
    background: #1ebba3;
    padding: 10px 0
}

#social-link p {
    padding: 6px 10px;
    margin: 0
}

#footer {
    background: #281d38de;
    color: #fff
}

#footer p {
    margin: 0;
    padding: 0
}

#footer .footer-first .footer-section-headline {
    margin: 0;
    padding: 0 20px;
    font-size: 24px;
    text-decoration: underline;
    display: block;
    font-weight: 700;
}

#footer .footer-first a {
    margin: 0;
    padding: 4px 14px;
    display: block;
    color: #fff
}

#footer .footer-last img {
    margin: 0;
    width: 80px;
    height: 80px;
    padding: 10px 0
}

#copyright {
    min-height: 30px;
    background: #0b1d2d;
    color: #b29c88
}

#copyright .left-copyright p {
    padding: 8px 4px;
    margin: 0
}

#copyright .right-copyright a {
    color: #666;
    padding: 14px 20px;
    text-align: right;
    display: inline-block
}

#blog-detail-section {
    margin-top: 62px;
    display: block;
    clear: both;
    width: 100%;
}

#blog-detail-section .blog-details-image {
    width: 100%;
    height: 300px;
}

#blog-detail-section .blog-title {
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 37px;
}

.tag-section {

}

.tag-section a {
    padding: 5px 6px;
    font-size: 16px;
    border-radius: 4px;
}

.tag-btn {
    border: 1px solid #efeff5;
    background: #647faf;
    color: #fff;
    padding: 3px;
    text-decoration: none;
}

.tag-btn:hover {
    border: 1px solid #efeff5;
    background: #647faf;
    color: #fff;
    padding: 3px;
}

.tag-btn i {

}

/*mobile device media query*/
@media only screen and (max-width: 600px) {


    #wrapper {
        margin-top: 89px;
    }

    #wrapper .block h2 {
        font-size: 16px !important;
    }

    #navbar {
        background: #4a3d5d;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    #blog-detail-section img {
        width: 100%;
    }

    #blog-detail-section .blog-details-image {
        width: 100%;
        margin-top: 30px;
        height: 200px;
        padding: 13px 6px;
    }

    #blog-detail-section article {
        text-align: justify;
        line-height: 33px;
    }

    .tag-section a {
        padding: 6px 5px;
        font-size: 14px;
        border-radius: 4px;
        display: inline-block;
        float: left;
        margin: 2px;
    }

    #blog-detail-section article {
        text-align: justify;
        line-height: 33px;
        display: block;
        width: 100%;
        clear: both;
    }

}