@media only screen and (max-width: 1000px) {

	header #branding,
	header nav,header .main_search{
		float: none;
	}
	header .main_search{
		margin-top: 30px;
		padding: 10px;
		width: 100%;
		margin: auto;
	}
	
	header .main_search form input{
		font-size: 18px;
		border-radius: 2px;
		margin-top: 2px;
		border: none;	  
	}
	header .main_search form input[type="text"]{
		width: 100%;
		
	}
}



@media only screen and (max-width: 850px) {
	#boxes .box h1{
		font-size: 30px;
		margin-top: 16px !important;
	}
}

@media only screen and (max-width: 800px) {
	#showcase h1{
		font-size: 42px !important;;
	}
	#boxes .box {
    width: 48% !important;
		margin-top: 30px;
  }
	#boxes .box h1{
		font-size: 25px;
		margin:0px;
		padding: 0px;
	}
	#boxes .box i{
		font-size: 40px !important;;
	}
	#search h1{
		font-size: 30px;
	}
	
}


@media only screen and (max-width: 520px) {
	header .main_search form input[type="text"],
	header .main_search form input[type="submit"]{
		width: 100% !important;
		margin-top: 4px !important;
		border-radius: 2px;
	}

	#boxes .box h1{
    	font-size: 30px;
	}
	#boxes .box i{
    	font-size: 45px !important;;
	}
	#boxes .box p{
		font-size: 20px !important;;
	}
	#search{
		margin:0px !important;;
		padding: 0px;
		margin-top: 100px;
	}
	
	#search h1,#search form{
		margin: 0px;
		text-align: center;
	}
	
	#boxes .box,
	#search h1,
	#search form,
	#recent .left,
	#recent .right,
	#singlepage .sidebar,
	#singlepage .page_content,
	#singlepage .content .tags,
	#singlepage .content .comments,
	footer .footer_part{
		float: none;
		width: 100% !important;;
	}
	#singlepage .title h1{
		font-size: 25px;
	}
	#singlepage .content .page_content{
		margin-top: 30px;
	}
	#singlepage .content .tags,#singlepage .content .comments{
		float: none;
		width: 100% !important;
	}
	#page .page_title h1{
		font-size: 28px;
		padding: 16px !important;;
	}

	#error .error_title h1{
		font-size: 55px !important;
		margin-top: 40px !important;;
	}
	#error .error_content p{
		font-size: 24px;
		margin-top: 20px;
	}
}
@media only screen and (max-width: 320px) {
	#branding{
		margin: 0px !important;;
	}
	#branding img{
		width: 30px !important;;
		height: 30px !important;	
	}
	#branding h1{
		font-size:25px;
		text-align: center;
	}
}
@media only screen and (max-width: 289px) {
	#search input[type="text"],.button_1{
		width: 100% !important;
		margin-bottom: 2px;
	}
	#search h1{
		font-size: 26px;
	}
}




































